.hm-img {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 10px;
}

.imgplustext {
    display: flex;

    border: 2px solid gray;
    background-color: gray;
    border-radius: 10px;
}

@media screen and (max-width:480px) {
    .imgplustext {
        display: block;
    }
}

@media screen and (max-width:480px) {
    .hm-img {
        width: 100%;
    }
}