.navbar a {
    text-decoration: none;
    color: brown;

}

.Heading {
    color: brown;
    font-weight: 700;

}

.navbar {
    width: 100%;
    margin-top: 20px;
}

.all_link a {
    padding: 3px 7px !important;


}

.all_link {
    display: flex !important;
    justify-content: space-between !important;


}

@media screen and (max-width:480px) {
    .all_link {
        display: block;
        justify-content: center;
    }
}


.fullNav {
    padding-left: 5%;
    padding-right: 5%;
    display: flex !important;
    justify-content: space-between !important;

}

.active {
    background-color: rgb(165, 163, 42);
    border-radius: 10px;
}


.navdiv-1 {
    display: flex;
    padding-top: 4px;
    padding-left: 30px;
}

@media screen and (max-width:480px) {
    .navdiv-1 {
        display: block;
    }
}