.navbar a {
    text-decoration: none;
    color: brown;

}

.navbar {
    width: 100%;
    margin-top: 20px;
}

.abcde a {
    padding: 10px;


}

.abcde {
    /* margin-left: 65%; */

}

.Navlist {}

.Abcd {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}